
  <div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 jumbotron text-center">
      <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold text-white">Alpha Blog</h1>
          <p class="fs-4 text-white">Use a simple app to get the best articles you want.</p>
          <button class="btn btn-success btn-lg" type="button">Sign up!</button>
      </div>
    </div>
  </div>


<footer id="sticky-footer" class="bg-dark text-white-50 fixed-bottom">
  <div class="text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>
