<div class="jumbotron cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">This is a simple blog, made with heart for you.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <button type="button" class="btn btn-success">Sign up!</button>
    </div>
</div>
