@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.container {
margin-top: 100px;
}

.jumbotron {
  background-image: url(jumbotron-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  width: auto;
}


.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

html,
body {
  height: 100%;
  background-color: lightgray;
}

#sticky-footer {
  height: 7vh;
  padding-top: 20px;
}
