@import 'bootstrap/dist/css/bootstrap';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


// navbar
.navbar {
  background-color: black !important;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 10vh;
}

.nav-link {
  color: white !important;
}

// logo

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

// home-page
#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbotron-img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

// general
html,
body {
  min-height: 100%;
}

#page-content {
  background-color: white;
  margin-bottom: 3em;
}

// footer

#sticky-footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
.fa-heart {
  color: red;
}

// article

// pagination styling

.apple_pagination {
  // background: #f1f1f1;
  // border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}
