@import 'bootstrap/dist/css/bootstrap';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


// navbar
.navbar {
  background-color: black !important;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 10vh;
}

.nav-link {
  color: white !important;
}

// logo

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

// home-page
#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbotron-img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

// general
html,
body {
  min-height: 100%;
}

#page-content {
  background-color: white;
  margin-bottom: 3em;
}

// footer

#sticky-footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
.fa-heart {
  color: red;
}

// article
